<!DOCTYPE html>
<html lang="en">
<body>
  <meta charset="UTF-8">
  <title>Heath Care Assistant</title>
  <h1>Health Care Assistant Diogee</h1>
  <style>
    body{
        font-family: Arial, sans-serif;
    }
    .bounds {
      width: 720px; 
      height: 480px; 
      border: 5px solid #00c50a; 
      overflow: scroll; 
    }
    
  </style>  
  <div class="bounds"><b>{{Response}}</b></div>

  <p>*Keep in mind these results are only an approximation. For any serious concerns always seek professional help.</p>
<form action="/">
    <input type="submit" value="Return to form">
</form>
  
</body>
</html>
