<!DOCTYPE html>
<html lang="en">
<body>
  <meta charset="UTF-8">
  <title>Heath CareAssistant</title>
  <h1>Health Care Assistant Diogee</h1>
  <h2>Would you like to know about your health status quickly?</h2>
  <h3>Enter your information so I can make an approximation of your cancer risk.<br>Also I will suggest when your next appointment should be.</h3>

  <form action="/submit" method="POST">
    <style>
      body{
        font-family: Arial, sans-serif;
      }
    </style>
    <label for="age">Age:</label>
    <input type="number" id="age" min="1" name="age" required><br><br>
    
    <label for="alcohol">How often do you drink alcohol?</label><br>
    <input type="radio" id="alcohol_none" name="alcohol" value="none" required> None
    <input type="radio" id="alcohol_little" name="alcohol" value="little"> Little
    <input type="radio" id="alcohol_regularly" name="alcohol" value="regularly"> Regularly
    <input type="radio" id="alcohol_everyday" name="alcohol" value="everyday"> Everyday<br><br>
    
    <label for="diet">How would you describe your diet?</label><br>
    <input type="radio" id="diet_excellent" name="diet" value="excellent" required> Excellent
    <input type="radio" id="diet_okay" name="diet" value="okay"> Okay
    <input type="radio" id="diet_bad" name="diet" value="bad"> Bad
    <input type="radio" id="diet_very_bad" name="diet" value="very_bad"> Very Bad<br><br>

    <label for="phys_act">How often do you work out?</label><br>
    <input type="radio" id="phys_act_everyday" name="phys_act" value="everyday" required> Everyday
    <input type="radio" id="phys_act_regularly" name="phys_act" value="regularly"> Regularly
    <input type="radio" id="phys_act_little" name="phys_act" value="little"> Little
    <input type="radio" id="phys_act_none" name="phys_act" value="none"> None<br><br>
    
    <label for="smoking">How often do you smoke?</label><br>
    <input type="radio" id="smoking_none" name="smoking" value="none" required> None
    <input type="radio" id="smoking_little" name="smoking" value="little"> Little
    <input type="radio" id="smoking_regularly" name="smoking" value="regularly"> Regularly
    <input type="radio" id="smoking_everyday" name="smoking" value="everyday"> Everyday<br><br>
    
    <label for="gender">Gender:</label>
    <select id="gender" name="gender" required>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select><br><br>
    
    <label for="lastAppoint">When was your last appointment at a doctor</label>
    <input type="date" id="lastAppoint" name="lastAppoint" required><br><br>

    <input type="submit" value="Submit">
</form>
  
</body>
</html>