<html>
<!--head etc-->
<body>
  <title>Heath Assistant</title>
  <h1>Health Assistant Joe</h1>
  <p>Enter your information so I can make an approximation of your cancer risk concerning</p>

  <form action="/submit" method="POST">
    <label for="age">Age:</label>
    <input type="number" id="age" name="age" required><br><br>
    
    <label for="alcohol">How often do you drink alcohol?</label>
    <input type="radio" id="alcohol_yes" name="alcohol" value="yes" required> Yes
    <input type="radio" id="alcohol_no" name="alcohol" value="no"> No<br><br>
    
    <label for="diet">What would you rate your diet?</label>
    <input type="radio" id="diet_yes" name="diet" value="yes" required> Yes
    <input type="radio" id="diet_no" name="diet" value="no"> No<br><br>

    <label for="phys_act">What would you rate your physical activity?</label>
    <input type="radio" id="phys_act_yes" name="phys_act" value="yes" required> Yes
    <input type="radio" id="phys_act_no" name="phys_act" value="no"> No<br><br>
    
    <label for="smoking">How often do you smoke?</label>
    <input type="radio" id="smoking_yes" name="smoking" value="yes" required> Yes
    <input type="radio" id="smoking_no" name="smoking" value="no"> No<br><br>
    
    <label for="gender">Gender:</label>
    <select id="gender" name="gender" required>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select><br><br>
    
    <label for="lastAppoint">When was your last appointment at a doctor</label>
    <input type="date" id="lastAppoint" name="lastAppoint" required><br><br>

    <input type="submit" value="Submit">
</form>
  
</body>
</html>